*.html
/*_files

# very big file
data/CBS_dataset_v1.0.rds
data/us_speeches.csv

.claude

src/lightning_logs

# dont commit logs & checkpoints

checkpoints
wandb

out/
# DO NOT ignore the tuning subdirectory structure
!out/tuning/
out/tuning/*
!out/tuning/*.pkl
!out/tuning/*.json

**/*lightning_logs

lightning_logs/
__pycache__/
*.pyc

# also don't commit data files unzipped
data/cleaned_speeches.csv
data/speeches_with_metadata.csv
data/us_speeches/__MACOSX/
data/us_speeches/._us_speeches.csv
data/us_speeches/us_speeches.csv
